$fa-font-path: "/bower_components/font-awesome/fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import 'variables';
@import 'tile';

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$pui-green: #00A79C;
$screen-sm-min: 768px;

body {
  height: 100%;
}

.main {
  position: relative;
  height: 100%;
}

.hero {
  background: #17232a;
  padding: 105px 0;
}

.nav-product-groups li {
  border-bottom: 1px solid #eee;
  transition: box-shadow .2s ease-out;

  &:not(:first-of-type) {
    box-shadow: inset 1px 0 0 0 #eee;
  }
}

.nav.nav-product-groups li.active {
  border-top: 0;
  border-bottom: 1px solid transparent;
  box-shadow: 0 -4px 0 0 $pui-green,
              inset 1px 0 0 0 #eee;

  .product-group-title {
    color: $pui-green;
  }
}

.nav-tabs.nav-justified.nav-product-groups li a {
  border: 0 !important;
  color: inherit;

  &:hover {
    border-color: transparent;
  }
}

.sub-navigation {
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: box-shadow .2s ease-out;


  &.is-fixed {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    left: 0 !important;
    width: 100% !important;

    .fixed-product-logo {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.fixed-product-logo {
  opacity: 0;
  position: absolute;
  left: 15px;
  top: 0;
  transform: translateY(100px);
  transition: all .2s ease-out;
  visibility: hidden;

  .media-body {
    width: auto;
  }
}

.sub-navigation a {
  color: $gray-5;
  display: block;

  &.active {
    color: $gray-1;
    box-shadow: inset 0 -2px 0 0 $pui-green;
  }

  &:hover {
    color: $gray-1;
  }
}

.valign-middle {
  vertical-align: middle;
}

.hr-decorative {
  margin: 0;
}

.card {
  background: #fff;
  border: 1px solid $dark-9;
  box-shadow: 0 1px 3px shade($dark-9, 5%);
  cursor: pointer;
  transition: box-shadow .2s ease-out;

  &:hover {
    box-shadow: 0 4px 15px shade($dark-9, 10%);
  }
}

.product-tile-section {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.product-card {
  margin: 0 0 1em;

  img {
    width: 45px;
  }
}

.badge {
  border-radius: 3px;
  display: inline-block;
  letter-spacing: .5pt;
  font-size: 14px;
  text-transform: uppercase;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all ease-in-out 220ms;
}

.fade.ng-hide-add {
  transition: all ease-in-out 220ms;
}

.empty-state {
  img {
    opacity: .5;
    margin: 0 auto;
    max-width: 200px;
  }
}

.loader {
  align-items: center;
  background: rgba(255,255,255, .75);
  display: flex;
  width: 100%;
  height: calc(100vh - 419px);
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 9999;
}

$base-line-height: 55px;
$spin-duration: 500ms;

.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $pui-green;
    border-top-color: transparent;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
