$fa-font-path: "/bower_components/font-awesome/fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import 'variables';
@import 'tile';

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$pui-green: #00A79C;
$screen-sm-min: 768px;

body {
  height: 100%;
}

.main {
  position: relative;
  height: 100%;
  z-index: 0;
}

.hero {
  background: $dark-2;
  padding: 105px 0;
  position: relative;
  z-index: 10;

  &:after {
    background-image: url('../images/bg-polygon-lines.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: .45;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.form-control {
  transition: all .2s ease-out;

  &:focus {
    box-shadow: 0 0 0 3px $pui-green;
  }
}

.nav-product-groups li {
  background: $neutral-10;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  transition: box-shadow .2s ease-out,
              background .2s ease-out;


  &:not(:first-of-type) {
    box-shadow: inset 1px 0 0 0 #eee;
  }

  &:not(.active):hover {
    background: $neutral-11;
  }

  @media(min-width: $screen-sm-min) {
    margin-bottom: -1px;
  }
}

.nav.nav-product-groups li.active {
  border-top: 0;
  border-bottom: 1px solid transparent;
  box-shadow: 0 -4px 0 0 $pui-green,
              inset 1px 0 0 0 #eee;

  .product-group-title {
    color: $pui-green;
  }
}

.nav-tabs.nav-justified.nav-product-groups li a {
  background: transparent;
  border: 0 !important;
  color: inherit;

  &:hover {
    background: transparent;
    border-color: transparent;
  }
}

.sub-navigation-wrap {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.sub-navigation {
  background: transparent;
  max-width: 100%;
  position: relative;
  transition: background .2s ease-out,
              box-shadow .2s ease-out;

  @media(min-width: $screen-sm-min) {
    overflow: hidden;
  }

  &.is-fixed {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    left: 0 !important;
    width: 100% !important;

    .btn-search {
      display: inline-block !important;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.btn-search {
  display: none !important;
  opacity: 0;
  transform: translateY(100px);
  transition: all .2s ease-out;
  visibility: hidden;
}

.sub-navigation a {
  color: $gray-5;
  display: block;
  transition: all .2s ease-out;

  &.active {
    color: $gray-1;
    box-shadow: inset 0 -3px 0 0 $pui-green;
  }

  &:hover {
    color: $gray-1;
  }
}

.valign-middle {
  vertical-align: middle;
}

.hr-decorative {
  margin: 0;
}

.card {
  background: #fff;
  border: 1px solid $dark-8;
  cursor: pointer;
  transition: box-shadow .2s ease-out,
              border .2s ease-out;

  &:hover {
    border-color: #00AD9D;
    box-shadow: 0 2px 5px shade($dark-9, 5%);
  }
}

.product-tile-section {
  background: #fff;
  opacity: 1;
  transition: opacity .2s ease-out;
}

.product-card {
  margin: 0 0 1em;

  img {
    border-radius: 50%;
    width: 45px;
  }
}

.badge {
  border-radius: 3px;
  display: inline-block;
  letter-spacing: .5pt;
  font-size: 14px;
  text-transform: uppercase;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all ease-in-out 220ms;
}

.fade.ng-hide-add {
  transition: all ease-in-out 220ms;
}

.empty-state {
  img {
    opacity: .5;
    margin: 0 auto;
    max-width: 200px;
  }
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

$base-line-height: 40px;
$spin-duration: 500ms;

.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $pui-green;
    border-top-color: transparent;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.angucomplete-dropdown {
  box-shadow: 0 0 5px 2px rgba(0,0,0, .15);
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  z-index: 9999;
}

.angucomplete-row {
  border: 0;
  box-shadow: 0;
  margin: 0;

  table tr td {
    border: 0;
  }
}

.angucomplete-selected-row {
  background-color: $neutral-9;
  color: inherit;
}

.search-icon {
  color: $neutral-6;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 15;
  transition: color .2s ease-out;
}

.search-input {
  padding-left: 40px;

  &:focus {
    & ~ .search-icon {
      color: $pui-green;
    }
  }
}

.angucomplete-title .highlight {
  color: $neutral-1;
}
