<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- PUI Styles -->
  <link rel="stylesheet" href="styles/components.css">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
</head>

<body ng-app="labsDesignYeoman" ng-controller="MainCtrl" class="bg-neutral-11">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <ng-include src="'views/nav.html'"></ng-include>
  <ng-include src="'views/hero.html'"></ng-include>

  <main class="main">
    <div class="loader" ng-show="resultsLoading">
      <div class="loading"></div>
    </div>

    <div class="search-area" ng-show="userIsSearching">
      <div class="paxl">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-24">
              <h2> <strong>{{ (filteredProducts|filter:productSearch).length }}</strong> results for <strong>{{ productSearch }}</strong></h2>
              <hr>
              <div class="empty-state txt-c" ng-if="(filteredProducts|filter:productSearch).length ===0">
                <img class="img-responsive" src="images/sad-cloud.svg" alt="">
                <h1>No results found!</h1>
              </div>
              <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
                <div class="tile-item" ng-repeat="product in filteredProducts | filter: productSearch track by $index">
                  <product-card name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{ product.icon }}" provider="Pivotal">
                  </product-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-list" ng-show="! userIsSearching">
      <div class="tab-simple-alt">
        <ul class="nav nav-tabs nav-justified nav-product-groups">
          <li class="valign-middle pvl" ng-class="activeTypeFilter === 'pcf' ? 'active': ''">
            <a class="txt-l" ng-click="showProducts('pcf')">
              <div class="media">
                <div class="media-left">
                  <img class="product-group-icon" src="images/icons/pcf-icon.png" alt="">
                </div>
                <div class="media-body media-top">
                  <h1 class="product-group-title h3 em-high mtn mbs">Pivotal Cloud Foundry (PCF)</h1>
                  <p class="em-default">A modern IT platform that accelerates software development, leveraging integrated app development tools.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="valign-middle pvl" ng-class="activeTypeFilter === 'data' ? 'active': ''">
            <a class="txt-l" ng-click="showProducts('data')">
              <div class="media">
                <div class="media-left">
                  <img class="product-group-icon" src="images/icons/data-icon.png" alt="">
                </div>
                <div class="media-body media-top">
                  <h1 class="product-group-title h3 em-high mtn mbs">Data Applications</h1>
                  <p class="em-default">To turn structured and unstructured data into actionable intelligence, Pivotal offers effective, smart ways to harness Big Data.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="valign-middle pvl" ng-class="activeTypeFilter === 'standalone' ? 'active': ''">
            <a class="txt-l" ng-click="showProducts('standalone')">
              <div class="media">
                <div class="media-left">
                  <img class="product-group-icon default" src="images/icons/pivotal-standalone-icon.png" alt="">
                </div>
                <div class="media-body media-top">
                  <h1 class="product-group-title h3 em-high mtn mbs">Standalone Applications</h1>
                  <p class="em-default">Scale your app by decomposing it. Provide companies with a secure, supported, and extended server technology. Deliver higher web-tier performance, scalability, and security.</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="sub-navigation-wrap" ng-class="activeTypeFilter" ng-show="activeTypeFilter === 'pcf' ">
        <section>
          <div class="container-fluid">
            <div class="sub-navigation" sticky="" offset="0" sticky-class="is-fixed" disabled-sticky="activeTypeFilter !== 'pcf'">
              <div class="row hidden-xs">
                <div class="col-sm-24 txt-c">
                  <ul class="list-inline mbn">
                    <li class="btn-search mrxxl">
                      <button href="#search" du-smooth-scroll ng-click="scrollToSearch()" class="btn btn-highlight-alt">
                        <i class="fa fa-search"></i>
                        Search
                      </button>
                    </li>
                    <li ng-repeat="link in subnavLinks.pcf track by $index">
                      <a href="#{{ link.id }}" du-smooth-scroll class="pvxl phl" du-scrollspy offset="85">
                        <i class="fa mrs" ng-class="link.icon"></i>
                        {{link.name}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row visible-xs">
                <div class="col-sm-24">
                  <div class="pal txt-r">
                    <div class="dropdown" uib-dropdown is-open="status.isopen">
                      <button id="dropdown-button-1" class="btn btn-highlight btn-highlight-alt" type="button" uib-dropdown-toggle>
                        Filter Products
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dropdown-button-1">
                        <li ng-repeat="link in subnavLinks.pcf track by $index">
                          <a href="#{{ link.id }}" ng-click="status.isopen = false" du-smooth-scroll class="pvxl phl" du-scrollspy offset="85">
                            <i class="fa mrs" ng-class="link.icon"></i>
                            {{link.name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="product-tile-section fade" ng-show="activeTypeFilter === 'pcf' && !userIsSearching && !resultsLoading">
        <div class="pvxxl">
          <article id="core">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Core Products</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.core">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </article>
          <article id="datastores">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Datastores</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.datastores">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </article>
          <article id="monitoring">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Logs &amp; Monitoring</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.monitoring">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </article>
          <article id="mobile">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Mobile Development Tools</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.mobile">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </article>
          <article id="messaging">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Caching &amp; Messaging Queues</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.messaging">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </article>
          <article id="developer">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="type-neutral-2 mtn mbs">Developer Tools</h3>
                  <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
                </div>
                <div class="col-sm-18">
                  <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
                    <div class="tile-item" ng-repeat="product in products.developer">
                      <product-card
                        name="{{ product.name }}"
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                        icon="{{product.icon}}"
                        badge="{{product.badge}}"
                        provider="{{ product.author }}">
                      </product-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
    </div>
    </section>
    <section class="product-tile-section fade" ng-show="activeTypeFilter === 'data' && !userIsSearching && !resultsLoading">
      <div class="paxl">
        <div class="container">
          <div class="row">
            <div class="col-sm-24">
              <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
                <div class="tile-item" ng-repeat="product in products.data">
                  <product-card
                    name="{{ product.name }}"
                    description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                    icon="{{product.icon}}"
                    badge="{{product.badge}}"
                    provider="{{ product.author }}">
                  </product-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-tile-section fade" ng-show="activeTypeFilter === 'standalone' && !userIsSearching && !resultsLoading">
      <div class="paxl">
        <div class="container">
          <div class="row">
            <div class="col-sm-24">
              <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
                <div class="tile-item" ng-repeat="product in products.applications">
                  <product-card
                    name="{{ product.name }}"
                    description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                    icon="{{product.icon}}"
                    badge="{{product.badge}}"
                    provider="{{ product.author }}">
                  </product-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </main>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/chance/chance.js"></script>
  <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
  <script src="bower_components/matchmedia/matchMedia.js"></script>
  <script src="bower_components/ngSticky/lib/sticky.js"></script>
  <script src="bower_components/angular-scroll/angular-scroll.js"></script>
  <script src="bower_components/ng-focus-if/focusIf.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/user.js"></script>
  <script src="scripts/directives/productcard.js"></script>
  <script src="scripts/directives/hero.js"></script>
  <!-- endbuild -->
</body>

</html>
