<nav class="bg-dark-1">
  <div class="bg-shadow-1">
    <div class="container">
      <div class="row">
        <div class="ptm col-xs-8">
          <a href="#" class="type-neutral-11">
            <div class="media h4">
              <div class="media-left media-middle">
                <img src="https://d213dhlpdb53mu.cloudfront.net/assets/pivotal-square-logo-68960a263da7c02f4c672e59d946200c.svg" alt="">
              </div>
              <div class="media-body media-middle">
                <span>Pivotal</span>
                <span class="em-high">Network</span>
              </div>
            </div>
          </a>
        </div>
        <div class="pvl txt-r col-xs-16">
          <ul class="list-inline lhl man pts">
            <li class="active">
              <a href="#" class="type-neutral-11 type-sm em-alt">Products</a>
            </li>
            <li>
              <a href="#" class="type-neutral-11 type-sm em-alt">Support</a>
            </li>
            <li>
              <a href="" class="type-neutral-11 type-sm em-alt btn btn-highlight-alt man em-alt">
                Join
              </a>
            </li>
            <li>
              <a href="#" class="type-neutral-11 type-sm em-alt">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
