<div class="card product-card" ng-class="class">
  <div class="paxl">
    <div class="media">
      <div class="media-left media-top">
        <img src="{{ icon }}" alt="">
      </div>
      <div class="media-body media-middle">
        <h2 class="h3 mvn type-neutral-2">{{ name }}</h2>
        <!-- <p class="h5 mts">{{ description }}</p> -->
      </div>
    </div>
  </div>
  <hr class="mvn">
  <div class="pal">
    <div class="clearfix">
      <h4 class="mvn type-neutral-4 pull-left">
        Provided by <span class="type-brand-6">{{ provider }}</span>
      </h4>
      <span class="badge em-high bg-dark-9 phl pvs pull-right" ng-if="badge">
        {{ badge }}
      </span>
    </div>
  </div>
</div>
