<ng-include src="'views/hero.html'"></ng-include>
<section class="product-tile-section fade" ng-show="activeTypeFilter === 'pcf'">
  <div class="pcf-core-products paxxl">
    <article id="core">
      <div class="container">
        <div class="row">
          <div class="col-sm-18 col-sm-offset-3 txt-c">
            <h2 class="mtn mbn">A modern IT platform that accelerates software development, leveraging integrated app development tools.</h2>
            <h3 class="mts mbs type-neutral-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus suscipit optio nesciunt aliquid voluptate omnis.</h3>
            <hr class="hr-mint mbxl">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Core Platform</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
            <button class="btn btn-highlight btn-highlight-alt mvl">Learn More</button>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.core">
                <featured-product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="{{ product.description }}" icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </featured-product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="pcf-services paxxl">
    <article id="datastores">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-sm-18 col-sm-offset-3 txt-c">
              <h2 class="mtn mbn">Leverage Pivotal Cloud Foundry Services and Add-Ons</h2>
              <h3 class="mts mbs type-neutral-4">Developers get role-based self-service access to systems of record, big data analytics, mobile notifications, continuous integration and more.</h3>
              <hr class="hr-mint mbxxl">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Datastores</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.datastores">
                <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </product-card>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </article>
    <article id="monitoring">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Logs &amp; Monitoring</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.monitoring">
                <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </product-card>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </article>
    <article id="mobile">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Mobile Development Tools</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.mobile">
                <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </product-card>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </article>
    <article id="messaging">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Caching &amp; Messaging Queues</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.messaging">
                <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </product-card>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </article>
    <article id="developer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="type-neutral-2 mtn mbs">Developer Tools</h3>
            <p class="type-neutral-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nisi in quasi ipsa dolores maxime consequatur.</p>
          </div>
          <div class="col-sm-18">
            <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-2 tile-gutter tile-layout">
              <div class="tile-item" ng-repeat="product in products.developer">
                <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
                </product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="product-tile-section fade" ng-show="activeTypeFilter === 'data'">
  <div class="paxl">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
            <div class="tile-item" ng-repeat="product in products.data">
              <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
              </product-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-tile-section fade" ng-show="activeTypeFilter === 'standalone'">
  <div class="paxl">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="tile-layout-sm-2 tile-layout-md-2 tile-layout-lg-3 tile-gutter tile-layout">
            <div class="tile-item" ng-repeat="product in products.applications">
              <product-card ui-sref="detail({id: product.guid})" name="{{ product.name }}" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit." icon="{{product.icon}}" badge="{{product.badge}}" provider="{{ product.author }}">
              </product-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
